/*
Theme Name: WttW

Description: Dedicated Wordpress theme for WttW

Author: HelloAri

*/

body {
	margin: 0;
	padding: 0;
}
table{
    margin-top: 11px;
}
a:focus {
	outline: none;
}

input::-moz-focus-inner { border: 0; }

a img {
	border: none;
}

.alignleft,
.fl {
	float: left !important;
        margin: 0 20px 20px 0 !important;
        
}

.alignright,
.fr {
	float: right !important;
        margin: 0 0 20px 20px !important;
}

.alignnone {
	margin: 0 auto !important;
	display: block !important;
}
.aligncenter {
        display: block !important;
        float: none !important;
        text-align: center !important;
        clear:both !important;
        margin: 0 auto !important;
}

ol li {
        margin: 0.5em auto;
}

.menu > ul .sub-menu .sub-menu{
    display: none !important;
}

.menu > ul > li .sub-menu:before,.menu > ul > li .sub-menu:after,.clearfix:before,.clearfix:after {
    content: " ";  display: table;
}
.menu > ul > li .sub-menu:after,.clearfix:after {
    clear: both;
}
.menu > ul > li .sub-menu,.clearfix {
    zoom: 1;
}
body{
    margin: 0;
}
.big-box{
    /*width: 989px;*/
    margin-left: auto;
    margin-right: auto;
}
.subpage_header{
	width: 989px;
	margin-left: auto;
    margin-right: auto;
}
.relcont{
	position: relative;
}
.blueright{
	width: 50%;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 52px;
	background: #2F304C;
}
.submenubg{
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	height: 52px;
	bottom: 0;
	background: #FC615E;
}
.home .header a.logo-top{
    float: left;
    margin-left: 71px;
    margin-top: 19px;
}
.qc{
    float: right;
    color: #999999;
    margin-right: 71px;
    margin-top: 30px;
    font-size: 14px;
    font-family: 'open_sansregular';
}
.qc a{
    text-decoration: none;
    color: #4551a3;
    font-size: 14px;
    font-family: 'open_sansregular';
}
.banner{
    background-color: #2f304e;
    margin-top: 27px;
    
    position: relative;
    min-height: 442px;

    
}
.headerbackground{
    background-repeat: no-repeat;
    background-position: right 41px;
    background-position: calc(100% - 30px) 41px;
    width: 100%;
    max-width: 989px;
    height: 100%;
    padding-bottom: 52px;
    margin: 0 auto;
    background-size: 38.5% auto;
}
.text{
    float: left;
    width: 525px;
    /*background: #2f304e;*/
    margin-left: 69px;
    margin-top: 52px;
}
.text h1{
    font-size: 48px;
    font-family: 'open_sansregular';
    color: #dddde4;
    letter-spacing: -1px;
    margin-bottom: 19px;
}
.text p{
    font-size: 18px;
    font-family: 'open_sanslight';
    color: #dddde4;
    line-height: 30px;
    padding-right: 25px;
}
.home .menu{
    margin-top: 46px;
    height: 77px;
}
.home .menu > ul{
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 3px;
}
.home .menu > ul > li{
    font-family: 'open_sansregular';
    font-size: 18px;
    color: #dddde4;
    list-style-type: none;
    display: block;
    float: left;
    margin-right: 15px;
    padding-right: 15px;
    padding-left: 15px;
}
.home .menu > ul > li:first-of-type{
    margin-left: -15px;
}
.home .menu > ul > li:hover{
    padding-bottom: 40px;
}
.menu > ul > li:last-of-type{
    margin-right: 0;
}
.home .menu > ul > li > a{
    font-family: 'open_sansregular';
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #4e4f68;
    padding-bottom: 12px;
    display: block;
}
.home .menu > ul > li .sub-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: block;
    z-index: 30;
    background: #fc615e;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 13px;
    padding-top: 14px;
    height: 52px;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.single-post .sharedaddy{
    margin-top: 25px;
}
.home .menu > ul > li .sub-menu li{
    display: block;
    float: left;
    margin-right: 32px;
}
.home .menu > ul > li .sub-menu li:last-of-type{
    margin-right: 0;
}
.home .menu > ul > li .sub-menu li a{
    color: #fff;
    text-decoration: none;
    font-family: 'open_sansregular';
    font-size: 16px;
}
.home .menu > ul > li .sub-menu li a:hover{
    color: #a03636;
}
.home .menu > ul > li:hover > a{
    color: #fc615e;
    border-bottom: 1px solid #1e1f32;
}
html:not(.ie8) .home .menu > ul > li:hover > a .before{
    opacity: 1;
}
/*.home .menu > ul > li:hover .sub-menu{
    display: block;
}*/
.home .menu > ul > li> a {
    position: relative;
}
.home .menu > ul > li > a .before {
    position: absolute;
    width: 23px;
    height: 12px;
    background-image: url("images/submenu-arrow.png");
    left: 50%;
    margin-left: -10px;
    top: 66px;
    display: block;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 400ms ease-in-out;
-moz-transition: all 400ms ease-in-out;
-ms-transition: all 400ms ease-in-out;
-o-transition: all 400ms ease-in-out;
transition: all 400ms ease-in-out;
}
.bluebox .qc2 {
  color: #b9bdd8;
  float: right;
  font-family: 'open_sansregular';
  font-size: 14px;
  margin-right: 82px;
  margin-top: 40px;
}
.bluebox .qc2 a{
    text-decoration: none;
    color: #fff;
}
.bluebox .qc2 a:hover{
    text-decoration: underline;
}
.bluebox .menu{
    float: left;
    padding-left: 43px;
    padding-top: 38px;
}
.bluebox .menu > ul{
    margin-bottom: 0;
    margin-top: 0;
    padding: 0px;
}
.bluebox .menu > ul > li{
    font-family: 'open_sansregular';
    font-size: 18px;
    color: #dddde4;
    list-style-type: none;
    display: block;
    float: left;
    margin-right: 45px;
}
.bluebox .menu > ul > li:last-of-type{
    margin-right: 0;
}
.bluebox .menu > ul > li > a{
    font-family: 'open_sansregular';
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    display: block;
}
.bluebox .menu > ul > li .sub-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: none;
    z-index: 30;
    background: #fc615e;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 13px;
    padding-top: 14px;
    height: 52px;
}
.bluebox .menu > ul > li .sub-menu li{
    display: block;
    float: left;
    margin-right: 32px;
    opacity: 0;
}
.bluebox .menu > ul > li .sub-menu li:last-of-type{
    margin-right: 0;
}
.bluebox .menu > ul > li .sub-menu li a{
    color: #fff;
    text-decoration: none;
    font-family: 'open_sansregular';
    font-size: 16px;
}
.bluebox .menu > ul > li .sub-menu li a:hover{
    color: #a03636;
}
.bluebox .menu > ul > li .sub-menu li.current-menu-item a, .bluebox .menu > ul > li .sub-menu li.current_page_parent a, .bluebox .menu > ul > li .sub-menu li.current-menu-parent a, .bluebox .menu > ul > li .sub-menu li.current_page_ancestor a{
    color: #a03636;
}
.bluebox .menu > ul > li:hover > a{
    color: #fc615e;
}
.bluebox .menu > ul > li.current-menu-parent > a, .bluebox .menu > ul > li.blogparent > a, .bluebox .menu > ul > li.current-page-ancestor > a, .bluebox .menu > ul > li.current_page_ancestor > a{
    color: #fc615e;
}
.bluebox .menu > ul > li.current-menu-parent .sub-menu, .bluebox .menu > ul > li.blogparent .sub-menu, .bluebox .menu > ul > li.current-page-ancestor .sub-menu, .bluebox .menu > ul > li.current_page_ancestor .sub-menu{
    display: block;
}
.bluebox .menu > ul > li:hover{
    padding-bottom: 39px;
}
.bluebox .menu > ul > li> a {
    position: relative;
}
.bluebox .menu > ul > li.current-menu-parent > a:before, .bluebox .menu > ul > li.blogparent > a:before, .bluebox .menu > ul > li.current-page-ancestor > a:before, .bluebox .menu > ul > li.current_page_ancestor > a:before {
    content:'';
    position: absolute;
    width: 23px;
    height: 12px;
    background-image: url("images/submenu-arrow.png");
    left: 50%;
    margin-left: -10px;
    top: 52px;
}
.management .sharedaddy{
    display: none !important;
}
.img{
    float: right;
    margin-right: 50px;
    margin-top: 97px;
}
.submenu-bar{
    height: 9px;
    background: #fc615e;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 10;
}
/*.dl-menuwrapper li.current-menu-parent .sub-menu, .dl-menuwrapper li.current-page-ancestor .sub-menu{
    display: block;
}
.dl-menuwrapper li.current-menu-parent .sub-menu .dl-back, .dl-menuwrapper li.current-page-ancestor .sub-menu .dl-back{
    display: none;
}*/
.dl-menuwrapper li.current-menu-parent > a, .dl-menuwrapper li.current-page-ancestor > a{
    color: #A03636;
}
.dl-menuwrapper li a:hover{
    color: #A03636;
}
.dl-menuwrapper li.current-menu-item a{
    color: #A03636;   
}
.footer .big-box{
    width: 989px;
}
.abacus.single-post h1{
    margin-bottom: 5px;
}
.single-meta{
    font-size: 19px;
    color: #2F304C;
    font-family: 'open_sansregular';
    font-size: 19px;
    margin-top: 10px;
}
.single-post .single-meta{
    margin-bottom: 50px;
    margin-top: 0;
}
.single-meta a{
    color: #4551A3;
font-family: 'open_sansregular';
text-decoration: none;
}
.single-meta a:hover{
    text-decoration: underline;
}
.abacus.single-post a{
    color: #4551A3;
font-family: 'open_sansregular';
text-decoration: none;
}
.abacus.single-post a:hover{
    text-decoration: underline;
}
.contact_box_border{
	height: 1px;
	background: #dfdfe6;
	margin-bottom: 4px;
}
.contact_box {
  margin-bottom: 35px;
}
.contact .center{
	width: 455px;
}
.contact .three{
	width: 250px;
	margin-top: 47px;
	border-top: 1px solid #DFDFE6;
	border-bottom: 1px solid #DFDFE6;
	padding-top: 35px;
	padding-bottom: 41px;
}
.center .contact_box h3{
	margin-top: 2px;
	margin-bottom: 3px;
	color: #2f2f4b;
	font-family: 'open_sansregular';
	font-weight: normal;
	font-size: 28px;
}
.center .contact_box p{
	color: #2f2f4b;
	font-family: 'open_sansregular';
	line-height: 29px;
	font-size: 16px;
	margin-top: 0;
}
.center .contact_box p a{
	color: #fc615e;
}
.center .contact_box p a:hover{
	text-decoration: underline;
}
.contact .three h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	color: #2f304c;
	margin-bottom: 0;
	margin-top: 0;
}
.contact .three p{
	font-family: 'open_sansregular';
	font-size: 16px;
	color: #2f304c;
	margin-top: 0;
	margin-bottom: 8px;
}
.contact .three a{
	color: #fc615e;
	font-family: 'open_sansregular';
	font-size: 16px;
	text-decoration: none;
}
.contact .three a:hover{
	text-decoration: underline;
}
.articles{
    padding-top: 64px;
    padding-bottom: 56px;
}
.home .articles{
    background: url(images/background-home.png) repeat-x;
}
.mail{
    width: 649px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 59px;
}
.mail:last-of-type{
    margin-bottom: 0;
}
.mail > img:first-of-type{
    vertical-align: -12px;
    padding-left: 0;
}
.mail span{
    font-size: 13px;
    font-family: 'open_sansregular';
    color: #a2a7ce;
    margin-left: 5px;
}
.mail h5{
    font-size: 18px;
    font-family: 'open_sanssemibold';
    font-weight: normal;
    color: #2f304e;
    margin-top: 9px;
}
.mail p{
    font-size: 18px;
    font-family: 'open_sansregular';
    color: #2f304e;
    line-height: 30px;
    margin-top: -26px;
    margin-bottom: 5px;
}
.mail a{
    font-size: 18px;
    font-family: 'open_sanssemibold';
    color: #4553a4;
    text-decoration: none;
}
.mail img{
    padding-left: 6px;
    border: 0
}
.footer{
    border-top: 1px solid #dfdfe6;
    padding-top: 2px;
    padding-bottom: 10px;
}
.left{
    float: left;
}
.home .footer .left img{
    margin-left: 72px;
    margin-top: 34px;
    float: left;
}
.home-head-inside-wrapper{
	margin-left: auto;
    margin-right: auto;
    width: 989px;
}
.footer .left img{
    margin-left: 40px;
    margin-top: 34px;
    float: left;
}
.left p {
    margin-top: 33px;
    padding-left: 9px;
    float: left;
    display: inline;
    font-family: 'open_sansregular';
    font-size: 14px;
    padding-right: 27px;
    color: #a2a7ce;
}
.left ul{
    margin-top: 33px;
    padding-left: 4px;
    float: left;
}
.home .left ul{
    margin-top: 33px;
    padding-left: 4px;
    float: left;
}
.left ul li{
    list-style-type: none;
    display: inline;
    color: #a2a7ce;
    font-family: 'open_sansregular';
    font-size: 14px;
    padding-right: 25px;
}
.home .left ul li{
    list-style-type: none;
    display: inline;
    color: #a2a7ce;
    font-family: 'open_sansregular';
    font-size: 14px;
    padding-right: 25px;
}
.left ul li a{
    text-decoration: none;
    color: #4553a4;
    font-family: 'open_sansregular';
    font-size: 14px;
}
.left ul li a:hover{
    text-decoration: underline;
}
.left ul li:nth-of-type(2){
    padding-right: 25px;
}
.right{
    float: right;
    background: #4551a3;
    border-radius: 3px;
    margin-right: 80px;
    margin-top: 33px;
    padding: 5px 17px 6px 16px;
    text-decoration: none;
}
.home .right{
    margin-top: 33px;
    margin-right: 71px;
    float: right;
    background: #4551a3;
    border-radius: 3px;
    padding: 5px 15px 7px 16px;
    text-decoration: none;
}
.right span{
    color: #a2a7ce;
    font-family: 'open_sansregular';
    font-size: 13px;
    text-align: center;
}
.other{
    float: left;
    margin-left: -32px;
}
.header .othrer{
    float: left;
    height: 102px;
    padding-left: 39px;
    padding-top: 28px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 137px;
}
.home .header{
    padding: 0;
    margin-top: 7px;
}
.header{
    position: relative;
    padding-bottom: 51px;
    
}
.header .bluebox{
    background: #2f304c;
    margin-left: 137px;
    height: 102px;
}
.header img{
    border: none;
}
.builder{
    padding-bottom: 100px;
    padding-top: 33px;
    background: url(images/background-management.png) repeat-x;
}
.builder h2{
    font-size: 42px;
    color: #2f304c;
    font-family: 'open_sansregular';
    margin-left: 134px;
}
.extrahead{
    color: #2f304c;
    font-family: 'open_sansregular';
    font-size: 20px;
    margin-bottom: -42px;
    margin-top: 0;
}
.builder .extrahead{
    margin-left: 134px;
}
.center{
    float: left;
    width: 495px;
    border-right: 1px solid #cccccc;
    margin-left: 138px;
    margin-top: 37px;
    padding-right: 56px;
}
.center.sec {
	border:none;
}
.builder_insider{
	width: 989px;
	margin-right: auto;
	margin-left: auto;
    font-family: 'open_sansregular';
}
.center {
    font-size: 16px;
    font-family: 'open_sansregular';
    color: #2f304c;
}
.center p{
    font-size: 16px;
    font-family: 'open_sansregular';
    color: #2f304c;
    margin-bottom: 16px;
    margin-top: -8px;
}
.center table{
    margin-bottom: -8px;
    margin-top: 16px;
}
.builder_insider ul{
    font-size: 16px;
    font-family: 'open_sansregular';
    color: #2f304c;
}
.widget-container.postsfromcat li > hr{
display: none;
}
.help{
    float: right;
    width: 164px;
    margin-right: 72px;
    margin-top: 94px;
    font-family: 'open_sansregular';
}
.help img{
    padding-left: 51px;
}
.help p{
    color: #fc615e;
    font-size: 18px;
    font-family: 'open_sansregular';
    margin-bottom: 9px;
    line-height: 25px;
}
.help a{
    color: #4551a3;
    font-size: 18px;
    font-family: 'open_sansregular';
    text-decoration: none;
}
.help a img{
    padding-left: 6px;
    border: 0;
}
.open{
    background: url("images/background-delivery.png") repeat-x;
    padding-top: 1px;
    padding-bottom: 133px;
}
.open.blog {background: url("images/background-blog.png") repeat-x;}
div.abacus, div.error-page{
    width: 642px;
    margin: 68px auto;
}
div.abacus h1{
    color: #2f304c;
    font-size: 42px;
    font-family: 'open_sansregular';
    margin-bottom: 62px;
}
div.abacus h2{
    color: #fc615e;
    font-size: 34px;
    font-family: 'open_sanslight';
    margin-bottom: -11px;
    margin-top: 27px
}
div.abacus h2 a {
	color: #fc615e;
	text-decoration: none;
}
div.abacus h2 a:hover {
    text-decoration: underline;
}
div.abacus h5{
    color: #2f304c;
    font-size: 16px;
    font-family: 'open_sanssemibold';
    margin-bottom: -6px;
    margin-top: 13px;
}
div.abacus{
    color: #2F304C;
    font-family: 'open_sansregular';
    font-size: 16px;
}
div.abacus p{
    color: #2f304c;
    font-size: 16px;
    font-family: 'open_sansregular';
    margin-bottom: -8px;
}
div.abacus table{
    margin-top: 8px;
}
div.abacus p a{
    color: #4551a3;
    text-decoration: none;
}
div.abacus p a:hover{
    text-decoration: underline;
}
.blog .open{
    background: url("images/background-blog.png")no-repeat;
    min-height: 704px;
}
.blog h1{
    font-family: 'open_sansregular';
    font-size: 42px;
    color: #2f304c;
}
.company .big-box .builder{
    background: url("images/background-company.png") no-repeat;
    padding-bottom: 88px;
}
.company .builder .center{
    border: none;
}
.center p a{
    text-decoration: none;
    color: #4551a3;
}
.three{
    float: right;
    width: 210px;
    margin-right: 87px;
    margin-top: 20px;
}
.management{
    background: url("images/background-management.png") repeat-x;
    padding-top: 1px; 
    padding-bottom: 79px;
}
.info{
    width: 770px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 69px;
}
.info h1{
    color: #2f304c;
    font-size: 42px;
    font-family: 'open_sansregular';
}
.info img{
    float: left;
    margin-top: 41px;
    height: auto;
}
.atkins{
    width: 770px;
}
.atkins-text{
    width: 552px;
    float: right;
    margin-bottom: -19px;
}
.atkins-text h2{
    color: #fc615e;
    font-size: 34px;
    font-family: 'open_sanslight';
    margin-bottom: 18px;
    margin-left: -2px;
    margin-top: 30px;
}
.atkins-text p{
    color: #2f304c;
    font-size: 16px;
    font-family: 'open_sansregular';
    margin-left: -2px;
    margin-top: -15px;
    margin-bottom: 26px;
    line-height: 22px;
}
.sandbox{
    background: url("images/background-sandbox.png") repeat-x;
    padding-top: 1px;
}
.one{
    width: 647px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
    padding-bottom: 88px;
}
.one h1{
    font-size: 42px;
    font-family: 'open_sansregular';
    color: #2f304c;
}
.one p{
    font-size: 16px;
    font-family: 'open_sanssemibold';
    color: #2f304c;
    margin-bottom: 19px;
    margin-left: 3px;
    margin-top: 63px;
}
.two{
    margin-left: 3px;
}
.two h2{
    font-size: 34px;
    font-family: 'open_sanslight';
    color: #fc615e;
    margin-bottom: -61px;
    margin-top: 17px;
}
.one .two p{
    font-size: 16px;
    color: #2f304c;
    font-family: 'open_sansregular';
    margin-bottom: 8px;
    margin-left: 0;
}
.two img{
    padding-left: 3px;
    border: 0;
}
.tools{
    background: url("images/background-tools.png") repeat-x;
    padding-top: 1px;
}
.arround{
    width: 773px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
    padding-bottom: 100px;
    padding-left: 83px;
}
.height{
    border-bottom: #dfdfe6 solid 1px;
    margin-top: -2px;
    padding-bottom: 49px;
}
.height h1{
    font-size: 42px;
    font-family: 'open_sansregular';
    color: #2f304c;
    margin-left: -5px;
}
.tools-height-left{
    float: left;
    width: 370px;
    margin-top: -1px;
}
.tools-height-left h2, .tools-down-left h2, .tools-down-right h2, .tools-height-left h2 a, .tools-down-left h2 a, .tools-down-right h2 a{
    color: #fc615e;
    font-family: 'open_sanslight';
    font-size: 40px;
    margin-bottom: 1px;
    text-decoration: none;
    position: relative;
}

.tools-height-left h2, .tools-down-left h2, .tools-down-right h2 {margin-bottom: 20px;}
.tools-height-left h2 a:hover:after, .tools-down-left h2 a:hover:after, .tools-down-right h2 a:hover:after{
     content: '';
	width: 100%;
	height: 2px;
	background: #fc615e;
	position: absolute;
	bottom: 2px;
	left: 0; 
}
.tools-height-left h5, .tools-down-left h5, .tools-down-right h5{
    color: #666666;
    font-family: 'open_sansregular';
    font-size: 22px;
    margin-top: -9px;
}
.tools-height-left p, .tools-down-left p, .tools-down-right p{
    color: #666666;
    font-family: 'open_sansregular';
    font-size: 16px;
    margin-bottom: 7px;
    margin-top: -31px;
}
.tools-height-left a, .tools-down-left a, .tools-down-right a{
    color: #4551a3;
    font-family: 'open_sansregular';
    font-size: 16px;
    text-decoration: none;
}
.tools-height-left a img, .tools-down-left a img, .tools-down-right a img{
    text-decoration: none;
    border: none;
}
.down{
    margin-top: 78px;
}
.tools-height-right{
    float: right;
    width: 358px;
    margin-top: 39px;
}
.tools-height-right .bxslider{
    padding: 0;
    margin: 0;
}
.tools-height-right .bx-controls{
    margin-top: 14px;
}
.tools-height-right .bx-controls .bx-pager{
    text-align: center;
}

.tools-height-right .bx-pager-item {
    display: inline-block;
    margin-right: 16px;
}
.tools-height-right .bx-pager-item:last-of-type {
  margin-right: 0;
}
.tools-height-right .bx-pager-item a {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 10px;
  background: url("images/circle-close.png") top left no-repeat transparent;
}
.tools-height-right .bx-pager-item a.active{
    background: url("images/circle-open.png") top left no-repeat transparent;
}
.tools-down-left{
    float: left;
    width: 347px;
    margin-left: -3px;
    clear: left;
    margin-bottom: 30px;
}
.tools-down-left > img{
    margin-bottom: -29px;
}
.tools-down-right{
    float: right;
    margin-right: -2px;
    width: 353px;
    margin-bottom: 30px;
}
.tools-down-right > img{
    margin-bottom: -39px;
}
.error-page {
    font-family: 'open_sansregular' !important;
    
}
/*.blog_sidebar{
    width: 335px;
    float: right;
}*/
.builder.blog .post{
    color: #2F304C;
    font-family: 'open_sansregular';
    font-size: 16px;
}
.builder.blog .post p{
    color: #2F304C;
    font-family: 'open_sansregular';
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 16px;
}
.builder.blog .post h2.post-title{
    color: #FC615E;
    font-family: 'open_sanslight';
    font-size: 34px;
    margin-bottom: -11px;
    margin-top: 27px;
    margin-left: 0;
}
.builder.blog .post:first-of-type h2.post-title{
    margin-top: 0;
}
.builder.blog .post h2.post-title a{
    color: #FC615E;
    text-decoration: none;
}
.builder.blog .post h2.post-title a:hover{
    text-decoration: underline;
}
.builder.blog .center{
    padding-right: 30px;
    margin-left: 135px;
}
.builder.blog .three{
    width: 235px;
    margin-right: 77px;
}
.builder_insider.single-post .single-meta{
    margin-left: 140px;
}
.builder .builder_insider.single-post .center h2 {
  color: #FC615E;
  font-family: 'open_sanslight';
  font-size: 34px;
  margin-bottom: -11px;
  margin-top: 27px;
  margin-left: 0;
}
.builder_insider.single-post .center p{
color: #2F304C;
font-family: 'open_sansregular';
font-size: 16px;
margin-bottom: -8px;
margin-top: 16px;
}
.builder_insider.single-post > h2{
    margin-bottom: 0;
}
.blog_sidebar .widget-container.postsfromcat > ul{
    padding-left: 0;
}
.blog_sidebar .widget-container > ul{
    padding-left: 0;
    list-style: none;
}
.blog_sidebar .widget_categories ul li {
  margin-bottom: 6px;
}
.blog_sidebar .widget_recent_entries ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  margin-top: 3px;
  padding-bottom: 3px;
}
.Custom_Widget_Archives ul li:first-child {
  margin-top: -12px;
}
.Custom_Widget_Archives ul li {
  margin-bottom: 7px;
}
.blog_sidebar .widget_recent_entries ul {
  margin-top: -17px;
}
.blog_sidebar .widget_categories ul {
  margin-top: -13px;
}
.Custom_Widget_Archives ul li{
    color: #4551A3;
}
.blog_sidebar .widget-container .widget-title{
    font-size: 20px;
    color: #FC615E;
font-family: 'open_sansregular';
border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}
.blog_sidebar .widget-container{
    color: #999999;
    font-family: 'open_sansregular';
    font-size: 13px;
}
.blog_sidebar .widget-container > ul{
    font-size: 13px;
}
.blog_sidebar .widget-container a{
    color: #4551A3;
    font-family: 'open_sansregular';
    text-decoration: none;
}
.blog_sidebar .widget-container a:hover{
    text-decoration: underline;
}
.blog_sidebar .postsfromcat li .tptitle{
    color: #FC615E;
font-family: 'open_sanslight';
margin: 0;
}
.blog_sidebar .postsfromcat li .tptitle a{
    color: #FC615E;
font-family: 'open_sanslight';
text-decoration: none;
}
.blog_sidebar .postsfromcat li .tptitle a:hover{
    text-decoration: underline;
}
.blog_sidebar .postsfromcat li .tpclink{
    display: block;
    float: right;
    font-size: 11px;
    margin-top: 3px;
}
.footer .right:hover{
    text-decoration: none;
}
#comments .form-submit #submit{
    background: none repeat scroll 0 0 #4551A3;
-webkit-border-radius: 3px;
border-radius: 3px;
border: none;
padding: 5px 17px 6px 16px;
text-decoration: none;
font-family: 'open_sansregular';
color: #A2A7CE;
font-size: 13px;
text-align: center;
}
#comments a {
  color: #4551A3;
  text-decoration: none;
  font-family: 'open_sansregular';
    font-size: 16px;
}
#comments a:hover{
    text-decoration: underline;
}
#comments .comment-body p{
    margin-bottom: 8px;
    margin-top: 8px;
}
#comments #reply-title{
    font-size: 19px;
}
#comments{
    color: #2F304C;
    font-family: 'open_sansregular';
    font-size: 16px;
}
#comments textarea{
    resize: none;
    vertical-align: middle;
    color: #2F304C;
    font-family: 'open_sansregular';
    font-size: 16px;
    width: 405px;
    max-width: 100%;
    height: 170px;
}
.post a{
  color: #4551A3;
  font-family: 'open_sansregular';
  text-decoration: none;
}
.post a:hover{
    text-decoration: underline;
}
.post {
  color: #2F304C;
  font-family: 'open_sansregular';
  font-size: 16px;
}
.widget_social{
    width: 190px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}
.loop-comments-link{
    display: block; 
    margin-top: 16px; 
    text-align: right;
}

@media (max-width: 915px){
	.contact .three, .contact .center{
		float: none;
		margin-right: auto;
		margin-left: auto;
		padding-left: 0;
		padding-right: 0;
	}
}
@media (max-width: 464px){
	.contact .center{
		width: auto;
	}
}
@media (max-width: 1005px){
    .big-box{
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
    .footer .big-box{
        width: auto;
    }
    .big-box .big-box{
    	margin-left: 0;
    	margin-right: 0;
    }
    .builder_insider, .subpage_header, .home-head-inside-wrapper, .error-page{
    	width: auto;
    }
    .qc{
        margin-right: 10px;
    }
    .home .header a.logo-top{
        margin-left: 15px;
    }
    .text{
        margin-left: 20px;
        width: 375px;
    }
    .text h1{
        font-size: 35px;
    }
    .text p{
        font-size: 17px;
    }
    .text ul li:last-of-type{
        padding-right: 0;
    }
    .img{
        margin-right: 30px;
    }
    .img img{
        width: 300px;
    }
    .mail{
        margin-left: auto;
        margin-right: auto;
        width: 550px;
    }
    .left{
        margin-top: -11px;
    }
    .home .right{
        margin-top: 16px;
    }
    .banner{
        min-height: 476px;
    }
    .header .othrer{
        padding-left: 24px;
        width: 106px;
    }
    .header .bluebox{
        margin-left: 106px;
    }
    .bluebox .qc2{
        margin-right: 10px;
    }
    .bluebox .menu > ul > li .sub-menu{
        padding-left: 153px;
        
    }
    .builder{
        width: auto;
    }
    .builder h2{
        font-size: 35px;
        margin-left: 50px;
    }
    .builder.blog .center{
        margin-left: 50px;
    }
    .builder .extrahead{
        margin-left: 50px;
        font-size: 18px;
        margin-bottom: -37px;
    }
    .builder_insider.single-post .single-meta {
      margin-left: 55px;
    }
    .center{
        margin-left: 50px;
        width: 460px;
    }
    .builder p{
        
    }
    .help{
        margin-right: 45px;
    }
    .right{
        margin-top: 15px;
    }
}

@media (max-width: 860px){
    .dl-menuwrapper{
        display: block;
    }
    .home .menu, .bluebox .menu, .submenu-bar{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    .header{
        padding: 0;
    }
    .home .banner{
        width: auto;
    }
    .home .text{
        width: auto;
    }
    .home .text h1 {
        font-size: 24px;
    }
    .home .text p {
        font-size: 15px;
        line-height: 20px;
    }
    .img {
        margin-top: 20px;
        margin-right: 28px;
    }
    .img img{
        width: 250px;
    }
    .mail{
        width: auto;
    }
    .mail > img:first-of-type{
        width: 30px;
        vertical-align: -8px;
    }
    .mail h5{
        font-size: 17px;
    }
    .mail p{
        font-size: 16px;
        line-height: 27px;
    }
    .mail a{
        font-size: 15px;
    }
    .home .footer .left img {
        margin-left: 0;
        margin-top: 14px;
    }
    .home .footer .left p {
        font-size: 12px;
        padding-right: 13px;
        margin-top: 18px;
    }
    .home .footer ul{
        margin-top: 16px;
    }
    .home .left ul li{
        padding-right: 9px;
    }
    .home .left ul li a{
        font-size: 12px;
    }
    .home .right{
        margin-bottom: 7px;
        margin-right: 10px;
        margin-top: 7px;
    }
    .builder{
        width: auto;
        padding-bottom: 40px;
    }
    .builder h2 {
        font-size: 25px;
        margin-left: 15px;
    }
    .builder .extrahead{
        margin-left: 15px;
        font-size: 16px;
        margin-bottom: -28px;
    }
    .builder_insider.single-post .single-meta {
      margin-left: 20px;
    }
    .center{
        width: auto;
        margin-left: 15px;
        margin-top: 0;
        padding-right: 15px;
        border: none;
        float: none;
    }
    .builder.blog .center{
        margin-left: 18px;
    }
    .center p{
        font-size: 15px;
    }
    .big-box .help{
        text-align: center;
        float: none;
        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;
    }
    .help img{
        padding-left: 0;
    }
    .footer .left img {
        margin-left: 0;
        margin-top: 14px;
    }
    .footer .left p {
        font-size: 12px;
        padding-right: 13px;
        margin-top: 18px;
    }
    .footer ul{
        margin-top: 16px;
    }
    .left ul li{
        padding-right: 9px;
    }
    .left ul li:nth-of-type(2){
        padding-right: 9px;
    }
    .left ul li a{
        font-size: 12px;
    }
    .right{
        margin-bottom: 7px;
        margin-right: 10px;
        margin-top: 7px;
    }
    
}
@media (max-width: 1010px){
    div.abacus, .one, .info, .arround{
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 860px){
    .home .dl-menuwrapper{
        margin-left: 10px;
        margin-top: 10px;
        float: none;
    }
    .submenubg{
    	display: none;
    }
    .blueright{
    	bottom: 0;
    }
    .dl-menuwrapper {
      display: block;
      margin-left: 10px;
      margin-top: 28px;
    }
    .banner {
        min-height: 0;
    }
    .home .text {
      margin-left: 11px;
      width: 395px;
    }
    .three, .builder.blog .three{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

}
@media (max-width: 806px){
    .info, .arround{
        width: auto;
        padding-left: 5px;
        padding-right: 5px;
    }
    .atkins{
        width: 100%;
    }
    .info img{
        width: 24%;
        max-width: 178px;
        height: auto;
    }
    .atkins-text{
        width: 74%;
    }
}
@media (max-width: 760px){
    .tools-height-left {
      float: none;
      width: auto;
    }
    .tools-height-right {
      float: none;
      margin-left: auto;
      margin-right: auto;
      margin-top: 39px;
      width: 358px;
    }
    .tools-down-left {
      float: none;
      margin-left: auto;
      margin-right: auto;
      width: auto;
    }
    .tools-down-right {
      float: none;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      width: auto;
    }
}
@media (max-width: 745px){
    .home .text {
      margin-left: 11px;
      width: 305px;
    }
}
@media (max-width: 710px){
    div.abacus, .one {
      padding: 0 10px;
      width: auto;
    }
    div.abacus img {
      height: auto;
      max-width: 100%;
    }
}
@media (max-width: 615px){
    .img{
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
    }
    .home .text{
        float: none;
    }
    .home .dl-menuwrapper{
        float: left;
    }
    .home .text {
      width: auto;
      margin-left: 20px;
    }
    .headerbackground{
        background-image: none!important;
    }
}
@media (max-width: 530px){
    .bluebox .qc2 {
      float: none;
      margin-left: 56px;
      margin-right: 10px;
      margin-top: 0;
      padding-top: 10px;
    }
}
@media (max-width: 515px){
    .qc{
        margin-right: 0;
        padding-left: 50px;
        padding-right: 50px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: none;
        text-align: center;
        margin-top: 10px;
    }
    .home .header a.logo-top {
      display: block;
      float: none;
      margin-left: 0;
    text-align: center;
    }
}
@media (max-width: 465px){
    .left {
      float: none;
      margin-top: -11px;
    }
    .atkins-text{
        float: none;
        width: 100%;
    }
    .info img {
      display: block;
      float: none;
      margin-left: auto;
      margin-right: auto;
      width: 178px;
    }
    .home .right {
      display: block;
      float: none;
      height: 19px;
      margin: 0 auto 7px;
      width: 66px;
    }
    .right {
      display: block;
      float: none;
      height: 19px;
      margin: 0 auto 7px;
      width: 66px;
    }
}
@media (max-width: 390px){
    .tools-height-right{
        width: 290px;
    }
    .tools-height-right .bxslider li img{
        width: 100%;
        height: auto;
    }
    .arround img{
        max-width: 100%;
        height: auto;
    }
}


.bottom-info{border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc;margin-top: 45px;}
.bottom-info h4 {margin: 15px 0 5px 0; font-size: 18px; font-family: 'open_sanssemibold'; font-weight: normal; color: #fc615e; }
.bottom-info a {font-size: 18px; font-family: 'open_sanssemibold';color:#4551a3;text-decoration:none;display:block;margin: 0 0 15px 0;}
a:hover{
    text-decoration: underline;
}

.two a, .help a, .tools-height-left a, .tools-down-left a, .tools-down-right a {
 color: #4551a3;
 font-family: 'open_sansregular';
 font-size: 16px;
 text-decoration: none;
 position: relative;
}
.two a:after, .help a:after, .tools-height-left a:after, .tools-down-left a:after, .tools-down-right a:after {
	display: none;
	content: '';
	width: 100%;
	height: 1px;
	background: #4551a3;
	position: absolute;
	bottom: 3px;
	left: 0;
}
.two a:hover, .help a:hover, .tools-height-left a:hover, .tools-down-left a:hover, .tools-down-right a:hover {
	text-decoration: none;
}
.two a:hover:after, .help a:hover:after, .tools-height-left a:hover:after, .tools-down-left a:hover:after, .tools-down-right a:hover:after {
	display: block;
}
.tools-down-left a:first-of-type:after, .tools-down-right a:first-of-type:after{
    content: none;
    display: none!important;
}
div.sharedaddy div.sd-block{
    border-top: none !important;
}

/* SRA ... */

.tags, .tags a {
    color: #888888;
}

.blog blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    padding-left: 15px;
    border-left: 3px solid #fc615e;
}

.prevnext {
    margin-top: 50px;
}

.prevnext .prev { float: left;}
.prevnext .next { float: right;}

.prevnext a {
  color: #fc615e;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 45%;
}

.commentlist{
        clear:both;
        list-style:none;
        margin:0 0 18px;
}
li.li-comment{
        background:transparent;
        margin:0;
        padding:0;
        position:relative;
}

.commentlist .comment {
        margin-bottom:8px;
        overflow:hidden;
        padding:0 0 0 60px;
}
.commentlist .comment .photo img{
        margin-left:-60px;
        position:absolute;
}
.comment cite.fn {
        font-size:14px;
        font-weight:bold;
        font-style:normal;
}

.says {
    font-size:14px;
    font-style:normal;
}

.comment .comment-content {
        overflow:hidden;
        margin-bottom:4px;
}
.comment .comment-content p:last-child,
.comment .comment-content p.last-child {
        margin-bottom:0;
}
#comments .comment-meta {
        color:#999;
        font-size: 10.5px;
}

#comments .comment-meta a {
    font-size: 10.5px;
}

.comment-meta .date {
        float:right;
}

.commentlist .bypostauthor {
        background-color:#fee2e1;
        padding:8px 12px 6px 72px;
}

.commentlist .featured .comment-content {
    background-color: #e1f0fe;
}

#comments .commentlist li.buried .div-comment .comment-content p {
    color: #eeeeee;
}

#comments .comments-title {
    font-size: 28px;
    margin: 15px 0 15px;
}

.comment .edit {
    background-color: #900;
    border-radius: 4px;
    font-size: 11.5px;
    opacity: .60;
    padding: 3px 5px 1px;
    left: -30000px;
    position: absolute;
    top: 0px;
}

.comment:hover .edit {
    left:auto;
    right:0;
}

#comments .edit a,
#comments .edit a:visited,
#comments .edit a:hover {
    color: #fff;
}

.search-form span {
    display: none;
}



.ispsummary td,
.ispsummary th {
  vertical-align: top;
  margin: 0;
  padding: 10px 8px;
}

.ispsummary {
  font-size: 14px;
  width: 100%;
  border-collapse: collapse;
}

.ispsummary th {
  border-bottom: 2px solid #FC615E;
}

.ispsummary td {
  border-bottom: 1px solid #ccccee;
}

.share, .follow {
    position: relative;
}

.share .popup {
    width: 120px;
    position: absolute;
    display: none;
    
}

.follow .popup {
   width: 200px;
   position: absolute;
   display: none;
}

.share .popup table, .follow .popup table {
    background-color: #ffffff;
    border: 2px solid #888888;
    border-radius: 15px;
    padding: 5px;
}

.share .trigger {
    transition: color 0.5s ease;
    color: #e0e0e0;
}

.share .trigger:hover {
    color: #2f314d;
}

.share a {
    transition: color 0.5s ease;
    color: #e0e0e0;
    text-decoration: none;
}

.share a.google:hover {
    color: #db4437;
    text-decoration: none;
}

.share a.facebook:hover {
    color: #3b5998;
    text-decoration: none;
}

.share a.twitter:hover {
    color: #55acee;
    text-decoration: none;
}

.share td {
    text-align: center;
}

.share .popup table {
    width: 240px;   
}

.wttwtas {
    width: 100%;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
    box-sizing: border-box;
}

.input-group-btn {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  position: relative;
  font-size: 0;
      box-sizing: border-box;
}

.input-group-btn > .btn {
  position: relative;
}

.input-group-btn:first-child > .btn {
  margin-right: -1px;
}
.input-group-btn:last-child > .btn {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
  z-index: 2;
}

.btn {
  display: inline-block;
  height: 34px;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}

.input-group .form-control:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.follow a {
     color: #55acee;
     text-decoration: none;
}