.aw-options {
	margin-right: 20px;
}


.tab-title {
	font: normal 30px/32px Helvetica, Arial, sans-serif;
	margin: 10px 0;
}

.tabs-container {
	text-align: center;
	margin-bottom: 10px;
	overflow: hidden;
}

.tab-label {
	display: inline-block;
	text-align: center;
	font-size: 18px;
	padding: 4px 15px;
	cursor: pointer;
}

.tab-label:hover,
.tabs-container .active{
	padding-bottom: 3px;
	border-bottom: 1px solid #222;
}

.aw-options td {
	padding-bottom: 5px;
}

.aw-options .wp-editor-wrap {
	width: 80%;
}

.options-list > tbody > tr > td {
	width: 75%;
	padding: 10px !important;
}

.aw-options td.opt-name {
	width: 300px;
	font-weight: bold;
	vertical-align: middle;
}

.aw-options td img {
	max-height: 100px;
}

.aw-options .ui-slider {
	width: 150px;
	float: left;
	margin: 5px 15px 0 0;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	border-radius: 5px !important;
	-moz-box-shadow: inset 0 0 8px #222;
	-webkit-box-shadow: inset 0 0 8px #222;
	box-shadow: inset 0 0 8px #222;
	background: #ccc;
}

.aw-options .ui-slider-handle,
.aw-options .ui-state-focus,
.aw-options .ui-state-hover {
	width: 20px !important;
	height: 20px !important;
	top: -5px !important;
	cursor: pointer !important;
	-moz-border-radius: 10px !important;
	-webkit-border-radius: 10px !important;
	border-radius: 10px !important;
	-moz-box-shadow: 0 0 4px #222 !important;
	-webkit-box-shadow: 0 0 4px #222 !important;
	box-shadow: 0 0 4px #222 !important;
	border: 1px solid #444 !important;
	background: #eee !important;
}

.aw-options .file-wrapper input[type=file] {
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0 !important;
}
.aw-options input[type=file]{
	opacity:1 !important;
}
.aw-options .file-wrapper input[type=text] {
	width: 300px;
}

.aw-options .file-wrapper {
	height: 22px;
	padding-top: 8px;
	position: relative;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
}

.aw-options .file-wrapper:hover {
	cursor: pointer;
}

.aw-options .hover {
	cursor: pointer;
}

.aw-options .aw-options .button-secondary.hover {
	border-color: #666;
	color: #000;
}

.aw-options textarea {
	width: 80%;
	height: 70px;
}

.aw-options input[type=text] {
	width: 80%;
}

.aw-options #aw_custom_css {
	height: 200px !important;
}

.aw-options .save-changes {
	margin: 20px 0 30px;
}

.aw-options select[multiple='true'] {
	height: auto !important;
}

.aw-options select {
	width: 300px;
}

.aw-options .upload-area {
	float: left;
	max-width: 80%;
	position: relative;
}

.aw-options .upload-area input[type=text] {
	width: 100%;
}


.aw-options .image-preview {
	float: right;
	position: relative;
	margin-right: 10px;
}

.image-preview .remove-img {
	width: 60px;
	text-align: center;
	position: absolute;
	left: 50%;
	margin-left: -42px;
	top: 40px;
}

.aw-options .image-path {
	width: 290px;
	padding-left: 10px;
	line-height: 22px;
	position: absolute;
	left: 0;
	bottom: 35px;
}

.column-wps_post_id {
	width: 4em;
}
